.landing-main section {
	padding: 60px 0;
}

.landing-main h1,
.landing-main h1 span {
	font-size: 2.5rem;
	transition: 0.3s all ease;
}

.landing-main p {
	font-size: 1.1rem;
}

.landing-section {
	display: flex;
	align-items: center;
}

.landing-section > div,
.landing-section-inverted > div {
	padding: 1rem 1.5rem;
}

.landing-section h1,
.landing-section span {
	font-family: "bold", sans-serif;
}

.landing-section-inverted {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.landing-section-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing-section-centered h1,
.landing-section-centered p {
	text-align: center;
}

.landing-section-centered h1 {
	width: 90%;
}

.landing-cards-container {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.landing-main .hidden-desktop {
	display: none;
}

.landing-main .hidden-tablet {
	display: block;
}

.landing-main button.hidden-tablet {
	display: flex;
}

.landing-main button.hidden-desktop {
	display: none;
}

@media only screen and (max-width: 960px) {
	.landing-main .hidden-desktop {
		display: block;
	}

	.landing-main .hidden-tablet {
		display: none;
	}

	.landing-main button.hidden-desktop {
		display: flex;
	}

	.landing-main button.hidden-tablet {
		display: none;
	}

	.landing-section,
	.landing-section-inverted {
		flex-direction: column-reverse;
		text-align: center;
		align-items: center;
	}

	.landing-section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.landing-cards-container {
		flex-direction: column;
		align-items: center;
	}

	.landing-card {
		width: 100%;
		max-width: 250px !important;
	}
}

@media only screen and (max-width: 500px) {
	.landing-section img,
	.landing-section-inverted img,
	.landing-section-centered img {
		width: 100%;
		height: auto;
	}
}
